*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}


.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #0D1A26;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.logo img {
    max-height: 34%;
    max-width: 34%;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #D9CD25;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #0D1A26;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

}
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #0D1A26;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #A68B03;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


.header {
    height: 60vh !important;
    background: url(img/header.png) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #A68B03;
    color: #fff; 
    text-decoration: none;
    background: #D9CD25;
}

.btn:hover {
    background: none;
    
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}


.content {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact {
    padding-top: 10px;
    background: #D9CD25;
    padding-bottom: 0;
}

.about {
    background: #0D1A26;
}

.sau {
    padding: 30px;
    background: #023859
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 12rem;
    width: 17rem;
    background: #0D1A26;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #D9CD25;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #D9CD25;

}

.box-container .box p {
    padding: 0 15px;
    font-size: 14px;
}
.box-container .box label {
    font-size: 10px;
    color: #D9CD25;

}

.box-container .boxs {
    height: 24rem;
    width: 17rem;
    background: #0D1A26;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}

.swiper-container {
    width: 100%; /* Ajustar el ancho para que ocupe el espacio deseado */
    height: 300px; /* Establecer la altura deseada para el carrusel */
    margin-top: 40px; /* Separar el carrusel del grid */
    backdrop-filter: blur(2px);
    padding: 50px; /* Agregar un poco de espacio alrededor del carrusel */
  }

  .swiper-slide {
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    width: 25%; /* Ajustar el ancho de las imágenes al 100% del carrusel */
    height: 100%; /* Ajustar el alto de las imágenes al 100% del carrusel */
    object-fit: cover; /* Ajustar tamaño de la imagen manteniendo la proporción y recortando si es necesario */
  }

.price {
    background: url(img/cuerpo.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-size: 20px;
    color:#ffffff;

}

@media (max-width: 768px) {
    .title {
      margin-bottom: 0;
      font-size: 20px;
    }

    .sau {
      height: 80vh;
    }

    .navbar {
      display: none;
    }
    
    .head {
      height: auto;
      position: static;
    }

    .logo {
      margin: 0 auto;
    }

    .logo a {
      font-size: 18px;
    }

    .logo img {
        max-height: 20%;
        max-width: 20%;
    }

    .header {
      padding-top: 70px;
      height: auto;
    }

    .title {
      font-size: 40px;
    }

    p {
      padding: 0 25px;
      font-size: 10px;
    }
    .content {
        height: 110vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-home a {
      margin: 0 5px;
      font-size: 10px;
    }

    .contents {
        height: 6vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-container .box {
      width: 50%;
      margin: 2rem 0;
    }
    .box-container .box h3 {
        font-size: 14px;
        color: #D9CD25;
    
    }
    .box-container .box p {
        padding: 0 14px;
        font-size: 10px;
    }
    .box-container .box label {
        font-size: 6px;
        color: #D9CD25;
    
    }
}